<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Hello MUI</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" href="../css/mui.min.css">
			<style type="text/css">
			.mui-preview-image.mui-fullscreen {
				position: fixed;
				z-index: 20;
				background-color: #000;
			}
			.mui-preview-header,
			.mui-preview-footer {
				position: absolute;
				width: 100%;
				left: 0;
				z-index: 10;
			}
			.mui-preview-header {
				height: 44px;
				top: 0;
			}
			.mui-preview-footer {
				height: 50px;
				bottom: 0px;
			}
			.mui-preview-header .mui-preview-indicator {
				display: block;
				line-height: 25px;
				color: #fff;
				text-align: center;
				margin: 15px auto 4;
				width: 70px;
				background-color: rgba(0, 0, 0, 0.4);
				border-radius: 12px;
				font-size: 16px;
			}
			.mui-preview-image {
				display: none;
				-webkit-animation-duration: 0.5s;
				animation-duration: 0.5s;
				-webkit-animation-fill-mode: both;
				animation-fill-mode: both;
			}
			.mui-preview-image.mui-preview-in {
				-webkit-animation-name: fadeIn;
				animation-name: fadeIn;
			}
			.mui-preview-image.mui-preview-out {
				background: none;
				-webkit-animation-name: fadeOut;
				animation-name: fadeOut;
			}
			.mui-preview-image.mui-preview-out .mui-preview-header,
			.mui-preview-image.mui-preview-out .mui-preview-footer {
				display: none;
			}
			.mui-zoom-scroller {
				position: absolute;
				display: -webkit-box;
				display: -webkit-flex;
				display: flex;
				-webkit-box-align: center;
				-webkit-align-items: center;
				align-items: center;
				-webkit-box-pack: center;
				-webkit-justify-content: center;
				justify-content: center;
				left: 0;
				right: 0;
				bottom: 0;
				top: 0;
				width: 100%;
				height: 100%;
				margin: 0;
				-webkit-backface-visibility: hidden;
			}
			.mui-zoom {
				-webkit-transform-style: preserve-3d;
				transform-style: preserve-3d;
			}
			.mui-slider .mui-slider-group .mui-slider-item img {
				width: auto;
				height: auto;
				max-width: 100%;
				max-height: 100%;
			}
			.mui-android-4-1 .mui-slider .mui-slider-group .mui-slider-item img {
				width: 100%;
			}
			.mui-android-4-1 .mui-slider.mui-preview-image .mui-slider-group .mui-slider-item {
				display: inline-table;
			}
			.mui-android-4-1 .mui-slider.mui-preview-image .mui-zoom-scroller img {
				display: table-cell;
				vertical-align: middle;
			}
			.mui-preview-loading {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				display: none;
			}
			.mui-preview-loading.mui-active {
				display: block;
			}
			.mui-preview-loading .mui-spinner-white {
				position: absolute;
				top: 50%;
				left: 50%;
				margin-left: -25px;
				margin-top: -25px;
				height: 50px;
				width: 50px;
			}
			.mui-preview-image img.mui-transitioning {
				-webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
				transition: transform 0.5s ease, opacity 0.5s ease;
			}
			@-webkit-keyframes fadeIn {
				0% {
					opacity: 0;
				}
				100% {
					opacity: 1;
				}
			}
			@keyframes fadeIn {
				0% {
					opacity: 0;
				}
				100% {
					opacity: 1;
				}
			}
			@-webkit-keyframes fadeOut {
				0% {
					opacity: 1;
				}
				100% {
					opacity: 0;
				}
			}
			@keyframes fadeOut {
				0% {
					opacity: 1;
				}
				100% {
					opacity: 0;
				}
			}
			p img {
				max-width: 100%;
				height: auto;
			}
		</style>

		
		<style>
			html,body {
				background-color: #efeff4;
			}
			.title{
				margin: 20px 15px 10px;
				color: #6d6d72;
				font-size: 15px;
			}
			.mui-grid-view.mui-grid-9 .mui-table-view-cell {
    margin: 0;
    padding: 1px 5px;
    vertical-align: top;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
       #topPopover {
				position: fixed;
				top: 16px;
				right: 6px;
			}
			
			
			.mui-popover {
				height: 70vh;
				width: 95%;
				padding: 4px;
			}

		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav" style="background-color: white;">
			<a class="mui-icon mui-icon-left-nav mui-pull-left" onclick="back()" style="color:#FF4B4A;"></a>
			<h1 class="mui-title">
				商品详情
			</h1>
			<a class="mui-pull-right" id="share"><img src="../images/share.png" style="width:30px;margin-top: 5px;"></a>
		</header>
		
		<nav class="mui-bar mui-bar-tab" >
			<a class="mui-tab-item" href="main/newpp.html" >
				<img src="../images/home.png" style="width:8vw;margin-top: 5px;">
				<p class="mui-tab-label" style="margin-bottom: 5px;color: black;">首页</p>
			</a>
			<a class="mui-tab-item" href="main/newpp.html" >
				<img src="../images/ax.png" style="width:8vw;margin-top: 5px;">
				<p class="mui-tab-label" style="margin-bottom: 5px;color: black;">收藏</p>
			</a>
			<a class="mui-tab-item" href="main/tab-webview-subpage-setting.html" style="font-size: medium; width: 2%; background-color: #FF4B4A;color: white;padding: 0px;">
				
				<span  style="color: white;">我要抢单</span>
			</a>
		</nav>
			<!--右上角弹出菜单-->
		  <div id="topPopover" class="mui-popover">
			<div class="mui-popover-arrow"></div>
			<div class="mui-scroll-wrapper">
				<div class="mui-scroll">
					<h4 style="text-align: center;border-bottom: 1px solid gainsboro;padding: 10px;">正在抢单</h4>
					<ul class="mui-table-view">
					 <li  class="mui-table-view-cell  mui-media" style="display:flex;justify-content: space-between; align-items: center;">
                       <div  style="display:flex;align-items: center; border: 0px solid red">
                           <img style="width: 15vw;border-radius:50%;"  src="../images/mm.jpg">
                           <span  style="margin-left: 8px;padding: 4px"><div>昵称</div></span>
					   </div>
					   <p >¥1200.00</p>
					 </li>
					
					</ul>
					<p style="text-align: center;border-top: 1px solid gainsboro;padding: 20px;">最多显示5条</p>
				</div>
			</div>

		</div>
		<div class="mui-content">
	        	<!--------------------------------------------------滑动广告gally--------------------------------------------------------------------------->
			   <div id="slider" class="mui-slider" style="">
			   	       <div class="mui-slider-group ">
				        <!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
				      <!--  <div class="mui-slider-item mui-slider-item-duplicate">
				          <a href="#">
				            <img style="height:100%;width: auto%" :src="imgurl" data-preview-src="" data-preview-group="1">
				          </a>
				        </div>-->
				        <!-- 第一张 -->
				        <div class="mui-slider-item">
				          <a href="#">
				            <img :src="imgurl"  style="" data-preview-src="" data-preview-group="1">
				          </a>
				        </div>
				        <div class="mui-slider-item" v-for="item in pimgarr">
				          <a href="#">
				            <img :src="item"  style="" data-preview-src="" data-preview-group="1">
				          </a>
				        </div>
				        <!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
				       <!-- <div class="mui-slider-item mui-slider-item-duplicate">
				          <a href="#">
				             <img style="height:100%;width:100%" :src="imgurl" data-preview-src="" data-preview-group="1">
				          </a>
				        </div>-->
				      </div>
				      <div class="mui-slider-indicator">
				        <div class="mui-indicator mui-active"></div>
				        <div class="mui-indicator"></div>
				        <div class="mui-indicator"></div>
				        <div class="mui-indicator"></div>
				      </div>
			   </div>
		    
			
		    <!-----------------------------拼单------------------------------------------------------------>
		    <ul class="mui-table-view" id="tops">
		    	<div style="display: flex; display: -webkit-flex; border-top: 1px solid #FF4B4A;border-bottom: 1px solid red;">
		    		<div style="display: -webkit-flex;-webkit-align-items:center;-webkit-justify-content: space-around; display: flex;align-items:center;justify-content: space-around; width: 60vw;background-color: #FF4B4A;color: white;">
		    			<h3>¥ {{pricenow}}</h3>
		    			<span>市场价<br/>¥ {{pricelast}}</span>
		    		</div>
		    		<div style="width: 40vw;color: red;padding:8px;display: -webkit-flex;-webkit-justify-content: center;-webkit-align-self: center;display: flex;justify-content: center;align-self: center;">
		    			<div >距离结束<br/>{{lastime}}</div> 
		    		</div>
		    	</div>
		    	<li class="mui-table-view-cell"  onclick="floatWebview()" >
					<div  class="mui-ellipsis">{{title}}</div>
					<div style="color: red;">¥ {{pricenow}}</div>
					<p style="margin-top: 10px">
						<button type="button" class="mui-btn mui-btn-danger mui-btn-outlined" style="padding:2px;">正品保证</button>
						<button type="button" class="mui-btn mui-btn-danger mui-btn-outlined" style="padding:2px;">全场包邮</button>
						<button type="button" class="mui-btn mui-btn-danger mui-btn-outlined" style="padding:2px;">七天退换</button>
						<!--<span style="padding:2px;border:1px solid orangered; border-radius: 5px; background-color:white; color:orangered">七天退换</span>-->
					</p>
				</li>
				<li class="mui-table-view-cell">
					<a href="qiangdan.html" style="display: -webkit-flex;-webkit-align-items:center;-webkit-justify-content: space-between;display: flex;align-items: center;justify-content: space-between;">
						<span style="display: flex;align-items: center;display: -webkit-flex;-webkit-align-items:center;">
							<img style="width: 6vw;margin-right:8px;height: auto;" src="../images/lst.png">
						    <span>抢单记录</span>
						</span>
						<p ><span>{{qdjsonarr.length}}</span>人已在抢单 <span  class="mui-icon mui-icon-arrowright"></span></p>
					</a>
				</li>
				<li v-for="item in qdjsonarr" class="mui-table-view-cell  mui-media" style="display: -webkit-flex;-webkit-align-items:center;-webkit-justify-content: space-between;display:flex;justify-content: space-between; align-items: center;">
                       <div  style="display:flex;align-items: center; display: -webkit-flex;-webkit-align-items:center;border: 0px solid red">
                           <img style="width: 8vw;border-radius:50%;"  :src="item.headimg">
                           <span  style="margin-left: 8px;padding: 4px">
                             	{{item.names}}
                           </span>
					   </div>
					   <div style="color: red;">¥{{item.price}}</div>
				</li>
				<!--<li  class="mui-table-view-cell  mui-media" style="display: -webkit-flex;-webkit-align-items:center;-webkit-justify-content: space-between;display:flex;justify-content: space-between; align-items: center;">
                       <div  style="display:flex;align-items: center;display: -webkit-flex;-webkit-align-items:center; border: 0px solid red">
                           <img style="width: 8vw;border-radius:50%;"  src="../images/mm.jpg">
                           <span  style="margin-left: 8px;padding: 4px">
                             	昵称
                           </span>
					   </div>
					   <div>¥1200.00</div>
				</li>-->
		    </ul>
		    <ul class="mui-table-view" style="padding: 20px;margin-top: 5px;">
			      <div  style="border: 1px solid black;padding: 10px;border-radius: 10px 10px 0px 0px;">
		    	          <div style="padding: 10px;"><span>起拍价：</span><span>{{bottomprice}}</span></div > 
		    	           <div  style="padding: 10px;"><span>竞拍倒计时：</span><span>{{backtime}}</span></div > 
			      </div>
			      <div  style="font-size: small;display: -webkit-flex;  -webkit-justify-content: space-around;
				display: flex;justify-content: space-around; border-radius: 0px 0px 10px 10px; background-color: gray;color: white;padding: 15px;">
			             <span >
			             	<span class="mui-icon mui-icon-checkmarkempty" style="font-size: small;background-color: white;color: black;"></span>
						             正品承诺
			             </span>
			             <span><span class="mui-icon mui-icon-checkmarkempty" style="font-size: small;background-color: white;color: black;"></span>极速发货</span>
			             <span><span class="mui-icon mui-icon-checkmarkempty" style="font-size: small;background-color: white;color: black;"></span>零风险</span>
			             <span><span class="mui-icon mui-icon-checkmarkempty" style="font-size: small;background-color: white;color: black;"></span>公平公正</span> 
			      </div>
			</ul> 	
		    <!--------------评价------------>
			<ul class="mui-table-view" style="margin-top: 5px;">
			  <li class="mui-table-view-cell">
					<a @tap="open_detail(pid)" style="display: flex;align-items: center;justify-content: space-between;">
						<span style="border-left: 2px solid red; padding-left: 5px;">商品评价（<span>{{talknumb}}</span>）</span>
						<span  class="mui-icon mui-icon-arrowright"></span>
					</a>
					
			  </li>
			  <div style="padding: 10px;">
			  	        <button type="button" class="mui-btn mui-btn-outlined">质量好（<span>{{talkmnumb}}</span>）</button>
			  	        <button type="button" class="mui-btn mui-btn-outlined">速度快（<span>{{talkvnumb}}</span>）</button>
			  </div>
			  
			  <div class="mui-table-view" id="pingjia"></div>
			  <div style="text-align: center;margin: 20px;">
			       <a href="javascript:;" :data-guid="pid" @tap="open_detail(pid)" >
			       	<button type="button" style="margin-bottom: 20px;">查看全部评价</button>
			       </a>  	
			  </div>		  
			</ul>
			 <!--------------店铺----------->
			<ul class="mui-table-view" style="margin-top: 5px;">
			  <li class="mui-table-view-cell">
					<a @tap="open_dp(pid)" style="display: -webkit-flex;-webkit-align-items:center;-webkit-justify-content: space-between;display: flex;align-items: center;justify-content: space-between;">
						<span style="border-left: 2px solid red; padding-left: 5px;">店铺信息</span>
						<span  class="mui-icon mui-icon-arrowright"></span>
					</a>
			  </li>
			  <div  id="dianpu" @tap="open_dp(pid)"></div>	  
			 
			</ul>
		     <!--------------商品信息----------->
			<ul class="mui-table-view" style="margin-top: 5px;">
			  <li class="mui-table-view-cell">
					<a href="#topPopover" style="display: flex;align-items: center;justify-content: space-between;">
						<span style="border-left: 2px solid red; padding-left: 5px;">商品详情</span>
						<span  class="mui-icon mui-icon-arrowright"></span>
					</a>
			  </li>
			   
			</ul>
			<div   >     
                    <img id="ppimg" style="width: 100vw;height: auto;" src="">
			</div>
		</div>
	</body>
	<script src="../js/mui.min.js"></script>
	<script src="../js/mui.zoom.js"></script>
	<script src="../js/mui.previewimage.js"></script>
    <script src="../js/vue.min.js" type="text/javascript" charset="utf-8"></script>
     <script>
    	//初始化单页view
        function madepics(jsondataimg){
        	var str="";
        	var strp="";
			var strind="";
		    for (x in jsondataimg){
					var imgp=jsondataimg[x].imgurl;
					strp+='<div class="mui-slider-item"><a href="#"><img style="height:100%;width:100%" src="'+imgp+'" data-preview-src="" data-preview-group="1"  /></a></div>';
					strind+='<div class="mui-indicator"></div>';
				}
			
			var imgurla=jsondataimg[0].imgurl;
			var imgurlb=jsondataimg[jsondataimg.length-1].imgurl;
	 str=
	   ' <div class="mui-slider-group mui-slider-loop">'+
            '<div class="mui-slider-item mui-slider-item-duplicate"><a href="#"><img style="height:100%;width:100%" src="'+imgurlb+'" data-preview-src="" data-preview-group="1"   /></a></div>'+
              strp+
            '<div class="mui-slider-item mui-slider-item-duplicate"><a href="#"><img style="height:100%;width:100%"  src="'+imgurla+'" data-preview-src="" data-preview-group="1" /></a></div>'+
        '</div>'+
       ' <div class="mui-slider-indicator">'+
            '<div class="mui-indicator mui-active"></div>'+
              strind+
       ' </div>';
       
			return str;
	};
        function madepindan(imgurl,titles,pingluns,presonimgarray){
			/*-------------------*/
			var pesonimgs="";
			for (y in presonimgarray) {
					var mus=presonimgarray[y];
					pesonimgs+='<img  class="mui-media mui-col-xs-6 mui-col-sm-6" style="margin: 4px;height: 30vw;width: auto;" src="'+mus+'">';
				}
			/*-----------------------*/
			
			var htmlstr=
			        '<li class="mui-table-view-cell">'+
						'<a href="" >'+
						'<img style="border-radius: 50%;" class="mui-media-object mui-pull-left" src="'+imgurl+'">'+
						'<div >'+
							  titles+
							'<div class="mui-media-body"><div class="mui-ellipsis-2">'+pingluns+
							    '</div><div class="mui-table-view mui-grid-view mui-grid-9" style="background-color: white;border:0px">'+ pesonimgs+ '</div>'+
					        '</div>'+
						'</div>'+
						'</a>'+
					'</li>';
			return htmlstr;	
		};
        function getdata (jsondata) {

			var strs="";
			for (x in jsondata) {
					var imgurl=jsondata[x].imgurl;
					var titles=jsondata[x].titles;
					var pingluns=jsondata[x].pingluns;
					var presonimgarray=jsondata[x].presonimgarray;
					
					strs+=madepindan(imgurl,titles,pingluns,presonimgarray);
					 
				}
			//alert(strs);
			return strs;
			
		};
    </script>
     <script>
        function madepindandp(imgurl,titles,totalnumbs,scores){
			/*-------------------*/
			/*-----------------------*/
			
			var htmlstr=
			        '<div class="mui-table-view" style="display: -webkit-flex;-webkit-align-items:center;-webkit-justify-content: space-around;display:flex;justify-content: space-around; align-items: center; background-color: white;margin: 3vw;padding: 3vw;border: 1px solid gainsboro;">'+
                       '<div class="  mui-col-xs-2 mui-col-sm-2" style="border: 0px solid red">' +
                           '<img style="width: 100%;"  src="../images/'+imgurl+'.jpg">'+
					   '</div>'+
					   '<div class="mui-col-xs-7 mui-col-sm-7" style="margin-left: 8px;padding: 4px"><h4>'+ titles+
							'</h4><p>销售总量：'+totalnumbs+'</p>'+
					    '</div>'+
                        '<p  style=" width:30vw;color: red;text-align: center;border-radius:15px; border: 1px solid red; padding:4px"><a  style="color:red" href="'+ scores+ '">进入店铺</a></p>'+
					'</div><br/>';
			return htmlstr;	
		};
        function getdatadp (jsondata) {

			var strs="";
			for (x in jsondata) {
					var imgurl=jsondata[x].imgurl;
					var titles=jsondata[x].titles;
					var totalnumbs=jsondata[x].totalnumb;
					var scores=jsondata[x].score;
					
					strs+=madepindandp(imgurl,titles,totalnumbs,scores);
					 
				}
			//alert(strs);
			return strs;
			
		};
    </script>
	
	<script>
		mui.init({
			swipeBack:true //启用右滑关闭功能
		});      
		function getDefaultData() {
				return {
					pid: '',
					imgurl: '',
					title: '',
					pricenow: '',
					pricelast: '',
					lastime: '',
					bottomprice:'',
					backtime:'',
					talknumb:'',
					talkmnumb:'',
					talkvnumb:'',
					pimgarr: [],
					
					qdjsonarr: []
				}
			}
     
			var vm = new Vue({
				el: '.mui-content',
				data: getDefaultData(),
				methods: {
					resetData: function() {//重置数据
						Object.assign(this.$data, getDefaultData());
					}
				}
			});
		//监听自定义事件，获取新闻详情
		document.addEventListener('get_detail', function(event) {
			    vm.pid = event.detail.pid;
			   //前页传入的数据，直接渲染，无需等待ajax请求详情后
				vm.imgurl = event.detail.imgurl;	
				mui.previewImage();

				vm.title = event.detail.titles;
				vm.pricenow = event.detail.pricenow;
				vm.pricelast = event.detail.pricelast;
				vm.lastime= event.detail.lastime;
				
				
				//请求顶部商品图片信息
							mui.getJSON("http://spider.dcloud.net.cn/api/banner/36kr", {column: 'id,title'}, function(rsp) {
								var ss=JSON.stringify(rsp);
								console.log(ss);
								vm.pimgarr=["../images/m1.jpg","../images/m2.jpg","../images/m3.jpg"];
								 //--------轮播放图片数据--------
                                     var jsondataimg=[
                                            {"pid":"5644","imgurl":"../images/m1.jpg","hrefs":"dianpu.html ",},
                                             {"pid":"5634","imgurl":"../images/m2.jpg","hrefs":"dianpu.html ",},
                                            ];
								//slids.innerHTML=madepics(jsondataimg);
								 /*---------------滑动图片-----*/
	                             /*var slids= document.getElementById("slider");
                                     slids.innerHTML=madepics(jsondataimg);*/
		                            /*---------------------------------------*/
							});
				//请求抢单信息
							mui.getJSON("http://spider.dcloud.net.cn/api/banner/36kr", {column: 'id,title'}, function(rsp) {
								var ss=JSON.stringify(rsp);
								console.log(ss);
								
								var jsondataqd=[
                                           {"headimg":"../images/m1.jpg","names":"昵称 1","price":1233.00,},
                                           {"headimg":"../images/m2.jpg","names":"昵称 1","price":833.00,},
                                          ];
                                vm.qdjsonarr=jsondataqd;
                                vm.bottomprice="12.00"
                                vm.backtime="08:00:22"
								 //var  pingjias = document.getElementById("pingjia");/*---------------分类*/
			                        //  pingjias.innerHTML=getdata(jsondata1);
							});
				//请求评价信息
							mui.getJSON("http://spider.dcloud.net.cn/api/banner/36kr", {column: 'id,title'}, function(rsp) {
								var ss=JSON.stringify(rsp);
								console.log(ss);
								var jsondatapj=[
                                          {"imgurl":"../images/m1.jpg","titles":"昵称 ","pingluns":"okkk装冬装新款潮大衣外套中长款毛呢外okkk装冬装新款潮大衣外套中长款毛呢外","presonimgarray":["../images/m2.jpg","../images/m1.jpg",]},
                                          {"imgurl":"../images/m2.jpg","titles":"用户名 ","pingluns":"韩都衣舍2017韩版女装冬装新款潮大衣外套中长款毛呢外","presonimgarray":[]},
                                             ];
       
								 var  pingjias = document.getElementById("pingjia");
			                          pingjias.innerHTML=getdata(jsondatapj);
			                         
                                
			                           vm.talknumb="450";
                                       vm.talkmnumb="333";
                                       vm.talkvnumb="23";
							});
				//请求店铺信息
							mui.getJSON("http://spider.dcloud.net.cn/api/banner/36kr", {column: 'id,title'}, function(rsp) {
								var ss=JSON.stringify(rsp);
								console.log(ss);
								var jsondatadp=[
                                                 {"imgurl":"sj23","titles":"我的店铺 ","totalnumb":30,"score":"dianpu.html"},
                                                ];
								var    dianpus = document.getElementById("dianpu");/*---------------分类*/
			                           dianpus.innerHTML=getdatadp(jsondatadp);
							});
				//请求商品信息
							mui.getJSON("http://spider.dcloud.net.cn/api/banner/36kr", {column: 'id,title'}, function(rsp) {
								var ss=JSON.stringify(rsp);
								console.log(ss);
								 var  sanps = document.getElementById("ppimg");/*---------------分类*/
			                          sanps.src="../images/productdetail.jpg";
							});
			});
		function back(){
			//plus.webview.currentWebview().close();
			mui.back();
		};
		function clicked(id){
			//alert(id);
			  plus.webview.open(id,id,{},"slide-in-right");
			
           };
		/*---------------滑动图片-----*/
		var pjview_detail =null;
		var dpview_detail =null;
		mui.plusReady(function() {
				//预加载详情页
				pjview_detail = mui.preload({
					url: 'pingjia.html',
					id: 'pingjia.html',
					styles: {
						"render": "always",
						"popGesture": "hide",
						"bounce": "vertical",
						"bounceBackground": "#efeff4",
						//"titleNView": titleNView
					}
				});
				//预加载详情页
				dpview_detail = mui.preload({
					url: 'dianpu.html',
					id: 'dianpu.html',
					styles: {
						"render": "always",
						"popGesture": "hide",
						"bounce": "vertical",
						"bounceBackground": "#efeff4",
						//"titleNView": titleNView
					}
				});
			});
		function open_detail(item) {
			//alert(item);
				//触发子窗口变更新闻详情
				mui.fire(pjview_detail, 'p_detail', {
					pid: item
				});
				setTimeout(function () {
					pjview_detail.show("slide-in-right", 300);
				},150);
            };
        function open_dp(item) {
			     //alert(item);
			     mui.fire(dpview_detail, 'dp_detail', {
					dpid: item
				});
				setTimeout(function () {
					dpview_detail.show("slide-in-right", 300);
				},150);
			};
		/*---------------------------------------*/
		
		var floatw=null;
function floatWebview(){
	//alert("float");
	if(floatw){ // 避免快速多次点击创建多个窗口
		return;
	}
	floatw=plus.webview.create("productsize.html","productsize.html",{width:'100%',height:'78%',margin:"auto",bottom:0,background:"rgba(0,0,0,0.8)",scrollIndicator:'none',scalable:false,popGesture:'none'});
	floatw.addEventListener("loaded",function(){
		floatw.show('fade-in',300);
		floatw=null;
	},false);
}
	</script>
	<script src="../js/share.js"></script>
</html>