<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Hello MUI</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" href="../css/mui.min.css">
		<link rel="stylesheet" href="../css/hdj.css">
		<style>
			html,
			body {
				background-color: #efeff4;
			}
			[v-cloak] {
			    display: none;
			}
			.title {
				margin: 20px 15px 10px;
				color: #6d6d72;
				font-size: 15px;
			}
			
			.mui-grid-view.mui-grid-9 .mui-table-view-cell {
				margin: 0;
				padding: 1px 5px;
				vertical-align: top;
				border-right: 1px solid #eee;
				border-bottom: 1px solid #eee;
			}
			.mui-table-view:before {
				    height: 0px;
				}
			.mui-table-view:after {
				    height: 0px;
				}
			.mui-table-view-cell:after {
				    height: 0px;
				}
		</style>
		<style type="text/css">
			.mui-preview-image.mui-fullscreen {
				position: fixed;
				z-index: 20;
				background-color: #000;
			}
			
			.mui-preview-header,
			.mui-preview-footer {
				position: absolute;
				width: 100%;
				left: 0;
				z-index: 10;
			}
			
			.mui-preview-header {
				height: 44px;
				top: 0;
			}
			
			.mui-preview-footer {
				height: 50px;
				bottom: 0px;
			}
			
			.mui-preview-header .mui-preview-indicator {
				display: block;
				line-height: 25px;
				color: #fff;
				text-align: center;
				margin: 15px auto 4;
				width: 70px;
				background-color: rgba(0, 0, 0, 0.4);
				border-radius: 12px;
				font-size: 16px;
			}
			
			.mui-preview-image {
				display: none;
				-webkit-animation-duration: 0.5s;
				animation-duration: 0.5s;
				-webkit-animation-fill-mode: both;
				animation-fill-mode: both;
			}
			
			.mui-preview-image.mui-preview-in {
				-webkit-animation-name: fadeIn;
				animation-name: fadeIn;
			}
			
			.mui-preview-image.mui-preview-out {
				background: none;
				-webkit-animation-name: fadeOut;
				animation-name: fadeOut;
			}
			
			.mui-preview-image.mui-preview-out .mui-preview-header,
			.mui-preview-image.mui-preview-out .mui-preview-footer {
				display: none;
			}
			
			.mui-zoom-scroller {
				position: absolute;
				display: -webkit-box;
				display: -webkit-flex;
				display: flex;
				-webkit-box-align: center;
				-webkit-align-items: center;
				align-items: center;
				-webkit-box-pack: center;
				-webkit-justify-content: center;
				justify-content: center;
				left: 0;
				right: 0;
				bottom: 0;
				top: 0;
				width: 100%;
				height: 100%;
				margin: 0;
				-webkit-backface-visibility: hidden;
			}
			
			.mui-zoom {
				-webkit-transform-style: preserve-3d;
				transform-style: preserve-3d;
			}
			
			.mui-slider .mui-slider-group .mui-slider-item img {
				width: auto;
				height: auto;
				max-width: 100%;
				max-height: 100%;
			}
			
			.mui-android-4-1 .mui-slider .mui-slider-group .mui-slider-item img {
				width: 100%;
			}
			
			.mui-android-4-1 .mui-slider.mui-preview-image .mui-slider-group .mui-slider-item {
				display: inline-table;
			}
			
			.mui-android-4-1 .mui-slider.mui-preview-image .mui-zoom-scroller img {
				display: table-cell;
				vertical-align: middle;
			}
			
			.mui-preview-loading {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				display: none;
			}
			
			.mui-preview-loading.mui-active {
				display: block;
			}
			
			.mui-preview-loading .mui-spinner-white {
				position: absolute;
				top: 50%;
				left: 50%;
				margin-left: -25px;
				margin-top: -25px;
				height: 50px;
				width: 50px;
			}
			
			.mui-preview-image img.mui-transitioning {
				-webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
				transition: transform 0.5s ease, opacity 0.5s ease;
			}
			
			@-webkit-keyframes fadeIn {
				0% {
					opacity: 0;
				}
				100% {
					opacity: 1;
				}
			}
			
			@keyframes fadeIn {
				0% {
					opacity: 0;
				}
				100% {
					opacity: 1;
				}
			}
			
			@-webkit-keyframes fadeOut {
				0% {
					opacity: 1;
				}
				100% {
					opacity: 0;
				}
			}
			
			@keyframes fadeOut {
				0% {
					opacity: 1;
				}
				100% {
					opacity: 0;
				}
			}
			
			p img {
				max-width: 100%;
				height: auto;
			}
		</style>

	</head>

	<body>
		<header class="mui-bar mui-bar-nav" style="background-color: white;">
			<a class="mui-icon mui-icon-left-nav mui-pull-left" onclick="back()" style="color:#FF4B4A;"></a>
			<h1 class="mui-title">
				商品详情
			</h1>
			<a id="share" class="mui-pull-right" style="color:red;" href="#sharepop">
				<img src="../images/share.png" class="hdj-share">
			</a>
		</header>

		<nav class="mui-bar mui-bar-tab" id="bottom">
			<a class="mui-tab-item" href="main" style="background-color: #fbfbfb;">
				<img src="../images/bt1.png" class="hdj-btnv">
				<p class="mui-tab-label hdj-btnf">首页</p>
			</a>
			<a class="mui-tab-item" href="#picture" style="background-color: #fbfbfb;">
				<img src="../images/bt2.png" class="hdj-btnv">
				<p class="mui-tab-label hdj-btnf" >客服</p>
			</a>
			<a class="mui-tab-item" href="care" style="background-color: #fbfbfb;">
				<img :src="careimg" class="hdj-btnv">
				<p class="mui-tab-label hdj-btnf">收藏</p>
			</a>
			<!--<a   class="mui-tab-item" href="goum" style="font-size: small;width: 1.5%;background-color: indianred;color: white;">	
				<div style="color: white;"><span>¥39.00</span><br>单独购买</div>
			</a>-->
			<a class="mui-tab-item" href="qd" param="{{okbtcontent}}" style="width: 3%;background-color: #Fe5858;color: white;font-size: 15px;">
				<div style="color: white;">{{okbtcontent}}</div>
			</a>
		</nav>

		<div class="mui-content" v-cloak>
			<!--------------------------------------------------滑动广告gally--------------------------------------------------------------------------->
			<div id="slider" class="mui-slider" style="height: 100vw;width: 100vw; overflow: hidden;">
				<div class="mui-slider-group ">
					<div class="mui-slider-item" v-for="item in info.goodsBannerEntity">
						<img src="../images/demo/v1.jpg" style="width: 100%;height: auto;" data-preview-src="" data-preview-group="1">
					</div>
				</div>
				<div class="mui-slider-indicator">
					<div class="mui-indicator" :class="{'mui-active':(index==0)}" v-for="(item,index) in info.goodsBannerEntity"></div>
				</div>
			</div>
			<!----------------------------------------------------------------------------------------->
			<ul class="mui-table-view" id="tops">
				<div style="display: flex; display: -webkit-flex; border-top: 2px solid #f93e3e;border-bottom: 2px solid #f93e3e;">
					<div class="hdj-space-between"  style="width: 65vw;background-color: #f93e3e;color: white;padding: 15px;padding-bottom: 4px;padding-top: 6px;">
						
						<span style="font-size: 36px;"><span style="font-size: 26px;" id="gsiNowprice">¥</span>66</span>
						
						<span class="hdj-fsize5" style="text-align: center;">
							市场价<br>
							¥ {{info.gsiMarketprice}}
						</span>
					</div>
					<div style="width: 35vw;color: #f93e3e;" class="hdj-center-jus">
						
							<span class="hdj-fsize5" style="text-align: center;">
								距离结束 <br>
								<span class="hdj-fsize0" style="margin-top: 9px;" id="time">00:36:12</span>
							</span>
							
						
					</div>
				</div>

				<li class="mui-table-view-cell">
					<div class="mui-ellipsis-2 hdj-fsize1" style="padding-top: 5px;">{{info.gsiName}}</div>
                    <div  class="hdj-fsize4 hdj-gray3">{{info.gsilntro}}</div>
					<p style="margin-top: 10px">
						<span v-for="item in info.bgoodsServers" type="button" class="mui-btn mui-btn-danger mui-btn-outlined" style="font-size: 11.5px; padding:1px;margin-right: 8px;">
							{{item.gsName}}
						</span>
					</p>
				</li>
			</ul>	
			<ul class="recover mui-table-view" style="margin-top: 1px;margin-bottom: 1px;">	
				<li class="mui-table-view-cell hdj-space-between" @tap="open_offerList()">
						<span class="hdj-center">
							<img style="width: 24px;margin-right:9px;height: auto;" src="../images/lst.png">
						    <span>抢单记录</span>
						</span>
						<span class="hdj-gray">
							<span id="offerCount">{{restTimeInfo.offerCount}}人已抢单</span>
						    <span class="mui-icon mui-icon-arrowright"></span>
						</span>
				</li>
			</ul>	
			<ul class="mui-table-view" id="recover" style="padding: 15px;">	
			</ul>
			<!------------>
			<ul class="mui-table-view hdj-fsize1" style="padding: 20px;margin-top: 5px;">
				<div style="border: 1px solid #3f3d49;padding: 20px;border-radius: 10px 10px 0px 0px;">
					<div >
						<span style="color: #555555;">起拍价：</span>
						<span style="color: #040404;">21</span>
					</div>
					<div style="padding-top: 15px;">
						<span style="color: #555555;">竞拍倒计时：</span>
						<span style="color: #040404;">{{info.gsideadsecound}}秒</span>
					</div>
				</div>
				<div class="hdj-space-around" style="font-size: 12px;border-radius: 0px 0px 10px 10px; background-color: #3f3d49;color: white;padding: 15px 5px;">
					<span><span class="mui-icon mui-icon-checkmarkempty hdj-small" ></span> 正品承诺</span>
					<span><span class="mui-icon mui-icon-checkmarkempty hdj-small" ></span>极速发货</span>
					<span><span class="mui-icon mui-icon-checkmarkempty hdj-small" ></span>零风险</span>
					<span><span class="mui-icon mui-icon-checkmarkempty hdj-small"></span>公平公正</span>
				</div>
			</ul>
			
			<!--------------评价------------>
		<ul class="mui-table-view" style="margin-top: 5px;">
			<li class="mui-table-view-cell">
				<a  @tap="open_pj(info.id)" class=" hdj-balck hdj-fsize1">
					<span  class="hdj-left">商品评价</span>
					<span  class="hdj-gray mui-pull-right mui-icon mui-icon-arrowright"></span>
				</a>

			</li>
			<li @tap="open_pj(info.id)" v-for="item in pjinfo" class="mui-table-view-cell" style="margin-bottom: 10px;">
					<div class="hdj-space-between">
						<p class="hdj-center">
						   <img  class="hdj-head" src="../images/demo/mm.jpg" >
						   <span class="hdj-balck  hdj-fsize2" style="margin-left: 10px;">昵称</span>
						</p>
						<span>
							<i v-for="x in 5"  class="hdj-fsize2 mui-icon mui-icon-star-filled"  v-bind:style="{color: ctcolor(x>item.cmtScore),}">
								
							</i>
						</span>
					</div>
					<div style="padding-left: 40px;padding-top: 10px;">
						<p class="hdj-balck hdj-fsize5" style="padding-bottom: 10px;color: #555555;">{{unescape(item.cmtContent)}}</p>
						<ul  class="mui-table-view mui-grid-view">
							<li  @tap="preimg(item.pictures,key)" v-for="(mg,key) of item.pictures" class="mui-table-view-cell  mui-col-xs-4 mui-col-sm-4" style="margin: 0px;padding: 1px;">
								<div class="hdj-img-wrap1" >
						           <img src="../images/demo/v2.jpg" class="hdj-img-cont" >
				                </div>
							</li>
					    </ul>
						<!--<div class="hdj-grid" >
							<div  v-for="mg of item.pictures" style="width: 120px; height: 120px;overflow: hidden;margin-bottom: 2px; margin-right: 2px;">
								<img :src="getserverimg(mg.id,10)" style="height:auto;width:100%;">
							</div>
						</div>-->
						
					</div>
			</li>
			<li class="mui-table-view-cell" >
				<a  @tap="open_pj(info.id)"  style="text-align: center;">
					<button type="button" style="width: 110px;font-size: 12px; color: #9b9b9b;">查看全部评价</button>
				</a>
			</li>
		</ul>
		<!--------------店铺----------->
		<ul class="mui-table-view" style="margin-top: 5px;">
			<li class="mui-table-view-cell">
				<a @tap="open_dp(info.bMerchantEntity)"  class="hdj-space-between hdj-balck hdj-fsize1">
					<span class="hdj-left">店铺信息</span>
				</a>
			</li>
			<li class="mui-table-view-cell" id="dianpu" @tap="open_dp(info.bMerchantEntity)">
				<div class="hdj-dp hdj-space-between">
					 <div class="hdj-center">
                      	 <div class="hdj-img-wrap" style="border: 1px solid #EEEEEE;border-radius: 3px;padding: 2px;">
						     <img style="width: 100%;" src="../images/logo13.png">
					     </div>
					     <div  style="margin-left: 15px;">
						     <p class="hdj-balck hdj-fsize1">Mary</p>
						     <p  class="hdj-fsize3 hdj-gray" style="margin-top: 10px;">销售总量：866</p>
					     </div>
					</div>
					<p class="hdj-btn-red-outlined">
						进入店铺
					</p>
				</div>
			</li>
		</ul>
		<!--------------商品信息----------->
		<ul class="mui-table-view" style="margin-top: 5px;">
			<li class="mui-table-view-cell">
				<a href="#topPopover"  class="hdj-space-between hdj-balck hdj-fsize1">
					<span  class="hdj-left">商品详情</span>
				</a>
			</li>
		</ul>
		
			
		<div>
			<img v-for="item in 1" src="../images/demo/productdetail.jpg" style="width: 100vw;height: auto;">
		</div>
		<br>
		</div>
		<div id="pop">
			<!--弹出菜单-->
		</div>
		<ul  id="sharepop" class="mui-popover mui-popover-action mui-popover-bottom mui-table-view mui-grid-view " style="background-color: white;padding: 20px; ">
		           
		            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4" >
		            <a onclick="shareWeixinMessage('WXSceneSession')">
		                    <img src="../images/fenxiang_weixin.png" style="width: 40%;">
		                    <div class="mui-media-body hdj-balck hdj-fsize3">微信好友</div>
		            </a>
		            </li>
		            <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4" >
		            	<a onclick="shareWeixinMessage('WXSceneTimeline')">
		                    <img src="../images/fenxiang_pengyouquan.png" style="width: 40%;">
		                    <div class="mui-media-body hdj-balck hdj-fsize3">朋友圈</div>
		            	</a>
		            </li>
		           <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4" >
		           	<a href="" onclick="shareqqMessage()">
		                   <img src="../images/fenxiang_qq.png" style="width: 40%;">
		                    <div class="mui-media-body hdj-balck hdj-fsize3">QQ</div>
		           	</a>
		           </li>
		</ul> 
	</body>

	<script src="../js/mui.min.js"></script>
	<script src="../js/mui.zoom.js"></script>
	<script src="../js/mui.previewimage.js"></script>
	<script src="../js/vue.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/server.js"></script>
	<script>
		var pjview_detail = null;
		var dpview_detail = null;
		var ordervw_detail = null;
		var offerview_detail = null; //---抢单列表图
		mui.init({
			swipeBack: true, //启用右滑关闭功能
			beforeback: function(){
				clearInterval(vp.timer);//关闭前执行
				return true;
			}
		});
		mui.plusReady(function() {
			vm.mbId = plus.storage.getItem("mbId");
			pjview_detail = preload("pingjia.html");
			dpview_detail = preload("dianpu.html");
            ordervw_detail = preload("mqdetail.html");
            
            offerview_detail = preload("qiangdan.html");
			//lauchFlag = plus.storage.getItem("lauchFlag");
		});

		function getDefaultData() {
			return {
				
				mbId: '',
				restTimeInfo: [],
				/*拍卖剩余时间*/
				offerList: [],
				/*竞拍列表*/
				gsiId: '',
				/*商品基本信息*/
				gsiCurrentperiods: 0,
				info: {},
				/*商品详情*/
				pjinfo: [] /*--评价详情--*/
			}
		}
		var vh = new Vue({
			el : ".recover",
			data: {
				restTimeInfo : {}
			}			
		})
		var vm = new Vue({
			el: '.mui-content',
			data: getDefaultData(),
			methods: {
				resetData: function() { //重置数据
					Object.assign(this.$data, getDefaultData());
				}
			}
		});
		var vb = new Vue({
			el: '#bottom',
			data: {
				okbtcontent : '我要抢单',
				careimg: "../images/bt4.png"
			}
		});
		var vp = new Vue({
			el: '#pop',
			data: {
				info: {}
			}
		});
		function PrefixInteger(num, n) {
            return (Array(n).join(0) + num).slice(-n);
        }
		function formatSeconds(value) { 
			var theTime = parseInt(value);// 秒 
			var theTime1 = 0;// 分 
			var theTime2 = 0;// 小时 
			// alert(theTime); 
			if(theTime > 60) { 
			theTime1 = parseInt(theTime/60); 
			theTime = parseInt(theTime%60); 
			// alert(theTime1+"-"+theTime); 
			if(theTime1 > 60) { 
			theTime2 = parseInt(theTime1/60); 
			theTime1 = parseInt(theTime1%60); 
			} 
			} 
			var result = ""+PrefixInteger(parseInt(theTime),2); 
			result = ""+PrefixInteger(parseInt(theTime1),2)+":"+result; 
			result = ""+PrefixInteger(parseInt(theTime2),2)+":"+result; 
			return result; 
		} 
		//document.addEventListener('goods_info', function(event) {
			vm.gsiId =localStorage.getItem("gsiId");
			vm.gsiCurrentperiods = localStorage.getItem("gsiCurrentperiods");			
			console.log("<--导入货品id-----:" + vm.gsiId + '--pr--' + vm.gsiCurrentperiods);
			
			getgoodsdetail();
			//getrestTimeInfo();
		    //vp.timer = setInterval(getrestTimeInfo,1000); //开始执行定时器
			// getofferlist();
			pjtest();
			vm.mbId = h5_mbinfo.mbId;
		//});
		/*---------82.	获取竞拍列表-----------*/
		function getofferlist() {
			var data = {
				gsiIds: vm.info.id,
				periods: vm.info.gsiCurrentperiods,
				page: 1,
				rows: 3
			};
			var apiname = "offerApi/offerList" + ".do";
			console.log(servername + apiname + "?gsiId=" + vm.info.id);
			mui.getJSON(servername + apiname, data, function(rsp) {
				console.log("获取竞拍列表:" + JSON.stringify(rsp.rows));
				if(rsp.rows && rsp.rows.length > 0) {
					vm.offerList = rsp.rows;
				}
			});
		};
		/*---------81.	拍卖获取拍卖剩余时间---------------*/
		function getrestTimeInfo() {
			var data = {
				gsiId: vm.gsiId,
				periods: vm.gsiCurrentperiods,
				mbId: vm.mbId
			};       
			var apiname = "offerApi/restTimeInfo" + ".do";
			mui.getJSON(servername + apiname, data, function(rsp) {
				//console.log("获取拍卖剩余时间" + JSON.stringify(rsp));
				if(rsp) {
					vh.restTimeInfo = rsp;		
//					console.info(JSON.stringify(rsp));
					//mui('#offerCount').html(rsp.offerCount+'人已抢单')
					var elem = document.getElementById('offerCount');
					elem.innerHTML = vh.restTimeInfo.offerCount+'人已抢单';
					elem = document.getElementById('time');
					vh.restTimeInfo.time = (vh.restTimeInfo.time == 0)?vm.info.gsideadsecound:vh.restTimeInfo.time;
					vh.restTimeInfo.time = formatSeconds(vh.restTimeInfo.time);
					elem.innerHTML = vh.restTimeInfo.time;
					elem = document.getElementById('gsiNowprice');
					elem.innerHTML = '¥'+'</span>'+rsp.gsiNowprice;
					elem = document.getElementById('recover');
					elem.innerHTML='';
					var html = '';
					mui.each(vh.restTimeInfo.offers,function(index,item){
						html+= '<li class="mui-table-view-cell hdj-space-between">'+
										'<div class="hdj-center">'+
											'<img class="hdj-head" src="../images/lst.png">'+
											'<span style="margin-left: 8px;">'
					                             	+item.memberEntity.mbPetname+
					                        '</span>'+
										'</div>'+
										'<div style="color: #555555">¥'+item.goOfferprice+'</div>'+
									'</li>';
					})
					elem.innerHTML = html;
//					vm.restTimeInfo.time = (vm.restTimeInfo.time == 0)?vm.info.gsideadsecound:vm.restTimeInfo.time;
//					vm.restTimeInfo.time = formatSeconds(vm.restTimeInfo.time);
					if(rsp.lotteryMbId){
						if(rsp.lotteryMbId == vm.mbId){
							mui.toast('恭喜抢购成功!','short');
							vb.okbtcontent = '购买商品';
							clearInterval(vp.timer);
						}else{
							mui.toast('再接再厉!','short');
							vb.okbtcontent = '前往下一期';
							clearInterval(vp.timer);
						}
					}
				}
			});
		};

		function act0() {
			mui(".mui-slider").slider();
			var gallery = mui('.mui-slider');
			gallery.slider().gotoItem(0);
			mui.previewImage();
		}

		//-----获取商品详情-------------------	 
		function getgoodsdetail() {
			var data = {
				gsiId: vm.gsiId
			};
			if(vm.mbId) {
				data.mbId = vm.mbId;
			}
			vb.okbtcontent = '我要抢单';
			// alert(JSON.stringify(data));         
			var apiname = "goodsInfoApi/info" + ".do";
			console.log(servername+apiname+JSON.stringify(data));
			mui.getJSON("../json/productdetail.json", function(rsp) {
				// console.log(JSON.stringify(rsp));
				if(rsp) {					
					vm.info = rsp;
					vp.info = rsp;
					// console.log("获取商品详情id"+vm.info.id);
					console.info('关注状态:'+rsp.concerned)
					if(!rsp.concerned) { //没有关注
						vb.careimg = '../images/bt4.png'
					}else{
						vb.careimg = '../images/bt3.png'
					}
					setTimeout(act0, 500)
				}
			});
		}
		//评价----------
		//评价----------

		function pjtest() {
			console.log("获取商品评价信息" + vm.gsiId);
			var data = {
				gsiId: vm.gsiId,
				page: 1,
				rows: 2
			};
			// alert(JSON.stringify(data));         
			var apiname = "commentApi/list" + ".do";
			// console.log(servername+apiname+"?gsiId="+vm.goodsinfo.id);
			mui.getJSON('../json/pjinfo.json', function(rsp) {
				//mui('#pingjia').pullRefresh().endPulldown();
				if(rsp.rows && rsp.rows.length > 0) {
					vm.pjinfo = rsp.rows;
				}
			});
		}
		//监听自定义事件，获取新闻详情
		function back() {
			//plus.webview.currentWebview().close();					
			clearInterval(vp.timer);
			mui.back();
		};

		function clicked(id) {
			//alert(id);
			plus.webview.open(id, id, {}, "slide-in-right");

		};

		function open_pj(item) {
			//alert(item);
			//触发子窗口变更新闻详情
			/*mui.fire(pjview_detail, 'pj_detail', {
				pid: item
			});
			setTimeout(function() {
				pjview_detail.show("slide-in-right", 300);
			}, 150);*/
			localStorage.setItem("pjid",item);
			mui.openWindow("pingjia.html")
		};

		function open_dp(item) {
			console.log("商户ID" + item.id);
			/*mui.fire(dpview_detail, 'dp_detail', {
				dpid: item.id
			});
			setTimeout(function() {
				dpview_detail.show("slide-in-right", 300);
			}, 150);*/
			localStorage.setItem("mercid",item.id);
			mui.openWindow("dianpu.html");
		};

		function open_offerList() {
			
			console.log("打开抢单列表" + vm.gsiId);
			mui.fire(offerview_detail, 'offer_detail', {
				mbId:vm.mbId,
				offerList:vh.restTimeInfo.offers,
				gsiIds: vm.gsiId,
				periods: vm.info.gsiCurrentperiods
				
			});
			setTimeout(function() {
				offerview_detail.show("slide-in-right", 300);
			}, 150);
		};

		/*---------------------------------------*/
		mui('.mui-bar-tab').on('tap', 'a', function(e) {
			var targetTab = this.getAttribute('href');
			
			if(targetTab == "main") {
				/*var h = plus.webview.getLaunchWebview();
				h.show();
				mui.fire(h, 'gohome');*/
				mui.openWindow("../index.html");
			}
			if(targetTab == "qd") {
				if(!vm.mbId) {
					mui.openWindow("../login/login.html");
					return;
				}
				//alert(vm.pid); 
				//alert(vm.mbId);
				//console.log("货品id"+vm.pid+"会员id"+vm.mbId)
				var cont = this.childNodes[0].innerHTML;
				if(cont == '我要抢单'){
					addqd();
				}    
				if(cont == '购买商品'){
					give_order();
				}
				if(cont =='前往下一期'){
					nextPer = preloadAndId("productdetailoffer.html",'nextPer_'+getNextIndex());
					var apiname = "offerApi/nowPer.do";					
					var data = {
						gsiId : vm.info.id
					}
					mui.post(servername + apiname, data, function(rsp) {			
						if(rsp.code == 0) {
							mui.fire(nextPer, 'goods_info', {
								gsiId: vm.info.id,
								gsiCurrentperiods : parseInt(rsp.msg)
							});
							setTimeout(function() {
								nextPer.show("slide-in-right", 300);
							}, 150);
						}else{
							mui.toast(rsp.msg,'short');
						}
					}, 'json');									
				}
				
			} 
			if(targetTab == "care") {
				//alert(vb.careimg);
				if(vb.careimg == "../images/bt4.png") {
					addcare();
				} else {
					removecare();
				}
			}

		});
		//-------------79.	结束商品竞标(最后出价的中标)(测试用)----------------------	
		function overqd() {

			var data = {
				gsiId: vm.gsiId
			};
			console.log(JSON.stringify(data));
			//console.log(JSON.stringify(data));
			var apiname = "offerApi/overOffer" + ".do";
			// console.log(servername+apiname+"?payType=1&priods=26&gsiId="+vm.goodsinfo.id+"mbId"+vm.mbId);
			mui.post(servername + apiname, data, function(rsp) {
				console.log(JSON.stringify(rsp));
				mui.toast(rsp.msg);
				if(rsp.code == 0) {}

			}, 'json');

		}
		/*78.	竞标----------------*/
		function addqd() {
			console.log("抢单");
			give_order();
			
			var data = {
				payType: 3,
				periods: vm.gsiCurrentperiods,
				gsiId: vm.gsiId,
				mbId: vm.mbId
			};
			//console.log(JSON.stringify(data));
			var apiname = "offerApi/offer" + ".do";
			console.log(JSON.stringify(data));
			// console.log(servername+apiname+"?payType=1&priods=26&gsiId="+vm.goodsinfo.id+"mbId"+vm.mbId);
			mui.post(servername + apiname, data, function(rsp) {
				console.log(JSON.stringify(rsp));
				mui.toast(rsp.msg);
				if(rsp.code == 0) {
					//give_order()
				}

			}, 'json');

		}
		/*83.	中标后购买商品(不可使用优惠券积分)(下订单)*/
		
		function give_order() {
			var odata={
				ginfo: vm.info,
				mercName: vm.info.bMerchantEntity.mercName,
				periods: vm.gsiCurrentperiods,
				gsiNowprice: vh.restTimeInfo.gsiNowprice
			};
			localStorage.setItem("orderqd_detail",JSON.stringify(odata));
			
			localStorage.removeItem("choisedAddress");
			localStorage.removeItem("choiseCouponok");
			
			mui.openWindow('mqdetail.html');
			/*setTimeout(function() {
				ordervw_detail.show("slide-in-right", 300);
			}, 150);*/

		}

		function addcare() {
			console.log("添加关注");
			var data = {
				mbId: vm.mbId,
				gsiId: vm.info.id
			};
			//alert(JSON.stringify(data));
			console.log(JSON.stringify(data));
			var apiname = "goodsConernApi/concern" + ".do";
			console.log(servername + apiname + "?mbId=" + vm.mbId + "&gsiId=" + vm.info.id);
			mui.post(servername + apiname, data, function(rsp) {
				console.log(JSON.stringify(rsp));
				mui.toast(rsp.msg);
				if(rsp.code == 0) {
					vb.careimg = "../images/bt3.png";
				}

			}, 'json');

		}

		function removecare() {
			console.log("取消关注");
			var data = {
				mbId: vm.mbId,
				gsiId: vm.info.id
			};
			var apiname = "goodsConernApi/unconcern" + ".do";
			console.log(servername + apiname + JSON.stringify(data));
			mui.post(servername + apiname, data, function(rsp) {
				console.log(JSON.stringify(rsp));
				mui.toast(rsp.msg);
				if(rsp.code == 0) {
					vb.careimg = "../images/bt4.png";
				}

			}, 'json');

		}
	</script>
	<script src="../js/share.js"></script>

</html>